.NavigationItem a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 0px 16px;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    text-decoration: underline;
    color: #000;
}

