.NavigationItems {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Categories {
    display: flex;
}

.Cart {
    position: relative;
}

.Cart .Badge {
    cursor: pointer;
    width: 20px;
    color: #fff;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    left: 25px;
    z-index: 1;
}