.NavigationItems {
    list-style: none;
    padding: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Categories {
    display: flex;
}

.CartBadge {
    cursor: pointer;
    position:absolute;
    top: 38px;
    font-size: 1.1rem;
    font-weight: bold;
    right: 45px;
    color: "#000";
    z-index: 1;
}